@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: black; /* Black background color */
  color: #fff; /* White text color, so it's readable on the black background */
}
.heading {
  font-size: 500%;
  position: relative;
  text-align: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  background-color: #fff;
  top: 0%;
  left: 0%;
}

.page {
  justify-content: center;
  padding: 1%;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #121111;
}
.frontpage {
  color: rgb(245, 239, 239);
  padding: 1%;
  text-align: center;
  position: relative;
}
.about {
  color: rgb(252, 251, 251);
  padding: 1%;
  align-items: center;
}
.projects {
  color: rgb(252, 251, 251);
  padding: 1%;
  align-items: center;
}
.counting {
  width: 100px;
  height: 40px;
  color: #000;
}
.profile {
  margin-top: -15%;
  width: 33%;
  height: 50%;
}
.profile-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
.image1 {
  width: 50%;
}
.image1:hover {
  transform: scale(1.1);
}
